* {
  font-family: monospace;
}

main {
  margin: 0 auto;
  width: 40rem;
}

form {
  width: 100%;
}

button {
  margin-top: 5px;
}

/* #contact-form {
  width: 45%;
  float: left;
}

#contacts-display {
  width: 45%;
  float: right;
} */